<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>RegistroUsuarioServlet</servlet-name>
        <servlet-class>com.example.grupo2.Servlet.RegistroUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroUsuarioServlet</servlet-name>
        <url-pattern>/RegistroUsuarioServlet</url-pattern>
    </servlet-mapping>
    <!--<servlet>
        <servlet-name>MenuSinLoginServlet</servlet-name>
        <servlet-class>com.example.grupo2.Servlet.MenuSinLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuSinLoginServlet</servlet-name>
        <url-pattern>/MenuSinLoginServlet</url-pattern>
    </servlet-mapping>-->
    <!--<servlet>
        <servlet-name>UpdateEventServlet</servlet-name>
        <servlet-class>servlet.UpdateEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateEventServlet</servlet-name>
        <url-pattern>/updateEventStatus</url-pattern>
    </servlet-mapping>-->

</web-app>

