
.contenedor-v2{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
}
.usuario-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}


.texto_titulos{
    font-family: "Kelab", sans-serif;
}
h1, h2 , h3, h4, h5, h6{    
    line-height: 130%;
    font-weight: 550;
}
h7 {
    font-family: "Arial", sans-serif;
}
.pie_de_pagina {
    background: rgb(159, 169, 184);
    background: linear-gradient(0deg, rgba(135, 51, 190, 0.527) 0%, rgba(101, 70, 175, 0.753) 100%);
    color: #f2f4f5; /* Letra en blanco */
    max-height: 200px; /* Cambia este valor según tus necesidades */
    overflow: hidden; /* Para evitar que el contenido desborde */
}

.no_colocar_fondo{
    background: none;
}
.page-link, .page-item{
    font-weight: 550;
    border-color: rgb(143, 121, 221);
    color:rgb(0, 0, 0);
    background: rgb(139, 153, 241);
    background: linear-gradient(0deg, #afc9f8 0%, rgb(142, 184, 247) 100%);
}

.btn {
    background:  rgb(141, 132, 150);
    border: none;
    font-size: 1.2rem; /* Tamaño del texto */
    color: white;
}
.img-thumbnail{
    max-width: 80px; 
    border: none;
    background: none;
}
.btn-group {
    display: flex;
    justify-content: space-between;
}
.imagen-container img {
    text-align: center;
    justify-content: center;
    width: 100%;
    width: 700px;
    height: 350px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Recorta las imágenes para que mantengan la proporción */
}
.custom-h3 {
    text-align: left;
    font-size: 1.5rem; /* Tamaño de la fuente */
    font-weight: 540;
    line-height: 1.8; 
}
.img-muni{
    max-width: 600px; 
}
.footer-section {
    padding: 20px; /* Espacio interno */
    margin-top: 20px; /* Margen superior */
}

h6 {
    line-height: 1.5;
}
a {
    text-decoration: none;
}
body {
    background-image: white;/*linear-gradient(to top, #ece7f0 0%, #eaeaf7 100%)*/
    margin: 0; /* Asegura que no haya margen alrededor del cuerpo */
    padding: 0; /* Asegura que no haya relleno alrededor del cuerpo */
    margin: 0;
}

.evento {
    position: relative;
    overflow: hidden;
}
/*.dropdown-item{
    background: rgb(139, 153, 241);
    background: linear-gradient(0deg, #0d5bec 0%, rgb(73, 146, 255) 100%);
}*/
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 100, 0.7);
    color: white;
    padding: 5px;
}
.card{
    border: none;
    background: rgb(54, 129, 169);
    /*background: rgb(231, 14, 115);*/
    /*background: linear-gradient(0deg, #5349dfb7 0%, rgb(88, 140, 77) 50%);*/
}
.card-title {
    color: black;
}
.card-text {
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más fuerte */
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#imagen_evento {
    display: block;
    width: 500px; 
    height: 250px; 
    object-fit: cover; 
}

#imagen_detallada {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más fuerte */
    display: block;
    width: 500px; 
    height: 400px; 
    object-fit: cover; 
}

#boton-ult{
    margin-bottom: 20px;
}

#container-evento-det{
    background-color: #f5f3f3;
    border-left: 1px solid #D8DEE0;
    border-right: 1px solid #D8DEE0;
    border-top: 10px solid #460097;
    margin-bottom: 28px;
    padding: 25px;
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea */
    margin-top: 20px; /* Margen superior */
    margin-bottom: 20px; /* Margen inferior */
    text-align: justify; /* Alineación justificada del texto */
    padding: 0 0px; /* Relleno lateral */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}
#container-frase{
    
    margin-bottom: 0px;
    
    font-size: 10px; /* Tamaño de fuente */
    line-height: 1.3; /* Altura de línea */
    
    margin-bottom: 1px; /* Margen inferior */
    text-align: justify; /* Alineación justificada del texto */
    padding: 0 0px; /* Relleno lateral */
    
}


.btn_letra_negrita{
    color:white;
}

#no-lateral-margin{
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.contenedor{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.contenedor-titulo-form{
    text-align: center;
}
.carousel-control-prev, .carousel-control-next {
    background-color: rgba(192, 179, 241, 0.459); /* Color de fondo */
    width: 100px; /* Ancho del botón */
    height: 350px; /* Altura del botón */
    border-radius: 0; /* Elimina el borde redondeado */

}
.texto-con-imagen{
    text-align: left;
    line-height: 100%;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
.div-50{
    padding: 20px 15px;
    align-items: center;
    justify-content: center;
}
#carouselExample {
    background: rgb(205, 215, 230);
    background: linear-gradient(0deg, rgba(191, 181, 245, 0.639) 0%, rgba(189, 137, 238, 0.645) 90%);}
.contenedor_evento {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 750px;
}
.elemento_texto_evento {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Cambria /*,Garamond/*, Verdana, Geneva, Tahoma, sans-serif*/;
}
.btn-mas-grande {
    font-size: 1.20rem; /* Tamaño del texto */
    padding: 10px 30px; /* Relleno del botón (arriba y abajo, izquierda y derecha) */
    width: 180px; /* Ancho automático */
    height: 55px; /* Alto fijo */
    align-items: center; /* Centrar verticalmente */
    text-align: center; /* Centrar texto */
    justify-content: center; /* Centrar horizontalmente */ 
}

.contenedor_mens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.mensaje {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ParteSuperior{
    background: rgba(111, 110, 173, 0.884);
    background: linear-gradient(0deg, rgba(57, 17, 121, 0.753) 10%, rgba(97, 12, 146, 0.918) 100%);
    color: #f2f4f5; /* Letra en blanco  135, 51, 190, 0.527 */
}   



nav {
    background: rgb(156, 142, 236);
    background: linear-gradient(0deg, rgba(135, 113, 214, 0.267) 0%, rgba(89, 36, 173, 0.377) 100%);
    text-align: center; /* Centra el contenido */
}

.nav {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.nav-item {
    margin: 0 10px; /* Espacio entre elementos */
}

.nav-link {
    display: inline-block; /* Permite aplicar estilos a los enlaces */
    padding: 10px 15px;
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

.nav-link:hover {
    color: black;
    background-color: #e4e8f4; /* Cambia el color de fondo al pasar el ratón */
}

.letra_botones_encabezado{
    font-size: 1.15rem;
    font-weight: 550; 
}
.imagen_cerrar {
    width: 60%; /* Cambia el valor según lo que necesites */
}
.btn-darte-cuenta{
    background-color: rgb(255, 98, 106);
}
.dataTables_filter{
    display: none;
}
.mi-imagen{
    width: 50px;
    height: 50px;
    display: block;
      margin-left: auto;
      margin-right: auto;
}

.btn-container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.obligatory-fields {
    font-size: 14px; /* Cambia el tamaño del texto */
}
.fondo_recuadros{
    background-color: #f5f3f3;
    border-left: 1px solid #D8DEE0;
    border-right: 1px solid #D8DEE0;
    border-top: 10px solid rgb(119, 92, 219);
    margin-bottom: 28px;
    padding: 25px;
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea */
    margin-top: 20px; /* Margen superior */
    margin-bottom: 20px; /* Margen inferior */
    text-align: justify; /* Alineación justificada del texto */
    padding: 0 20px; /* Relleno lateral */
    box-shadow: 0 8px 16px rgb(139, 153, 241); /* Sombra más pronunciada */
}

custom-cartanz-2 {
    margin-bottom: 20px; /* Ajusta el margen inferior entre las tarjetas */
    padding: 10px; /* Añade un relleno interior a las tarjetas */
}

.custom-cartanz-2 .card {
    height: 100%;
    transition: transform 0.2s; /* Agrega una transición suave al hacer hover */
}

.custom-cartanz-2 .card:hover {
    transform: scale(1.05); /* Escala la tarjeta ligeramente al hacer hover */
}


.custom-cartanz-2 .card-body {
    padding: 10px; /* Añade un relleno interior al cuerpo de la tarjeta */
}

.custom-cartanz-2 .card-title {
    font-size: 1.2rem; /* Tamaño de fuente más grande para el título */
    margin-bottom: 5px; /* Margen inferior para separar el título del texto */
}

.custom-cartanz-2 .card-text {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para el texto */
}

.form-check-input-lg {
    width: 1.5em;
    height: 1.5em;
}

.ajustar {
    text-align: justify;
    padding-right: 50px;

}

.subir-asistencia{
    align-items: center;
    size:inherit;

}

